body{
    box-sizing: border-box;
    margin: auto;
    font-size: 22px;
}
.darkMode{
    border: solid 1px #eee;
    padding: 10px;
    height: 20px;
    grid-area: 1/3 / span 1 / span 1;
    border-radius: 5px;
    border: solid 1px rgba(24, 22, 22, 0.867);
    color: #eedded;
    background-color: rgba(24, 22, 22, 0.867);
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorBtn{
    color: #333;
}
.darkMode{
    position: relative;
    /* left: 1em; */
    text-transform: capitalize;
}
.darkMode:active{
    transform: scale(0.9, 0.9);
}
.contenedor{
    display: flex;
    flex-direction: column;
}
.container{
    position: relative;
    /* left: 1em; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:1em ;
    justify-content: center;
    background-color: rgb(17, 196, 228);
    padding: 15px;
    border: solid 20px #eeeeee;
    border-radius: 10px;
}

.margenes-teclado{
    display: grid;
    grid-template-columns:  auto ;
    padding: 10px;
    border: solid 2px #eee;
    border-radius: 5px;
}
.display{
    padding: 6px;
    grid-area: 1/1 / span 1 / span 1;
    border-radius: 8px;
    text-align: right;
    font-size: 25px;
    border: solid 2px #eee;

}
.teclado{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    justify-content: stretch;
    /* position: relative; */
    /* top: 20px; */
    /* left: 1em; */
}
.teclado div{
    margin-top: 10px;
    background-color: #eee;
    border-radius: 10px;
}
.teclado div{
    padding: 15px;
    border: solid 1px #eeedef;
    text-align: center;
}

.teclado div:hover{
    opacity: 0.9;
    background-color: rgb(204, 199, 199);
    cursor: pointer;
}
#igual{
    grid-area: 6/1 / span 1 / span 4;
    background-color: red;
    color: #fff;
}
#borrado{
    background-color: red;
    color: #fff;
}
#suma, #divide,#raiz,#porcentaje{
    background-color: rgb(28, 28, 202);
    color: #fff;
}
#potencia, #pi{
    color: rgb(253, 17, 17);
    font-family: cursive;
}
#potencia{
    font-size: 16px;
}
#resta{
    background-color: rgb(28, 28, 202);
    color: #fff;
}
#por{
    background-color: rgb(28, 28, 202);
    color: #fff;
}

.teclado > .btn:active{
    transform: scale(0.9, 0.9);
    background-color: rgba(87, 87, 170, 0.651);
}
footer{
    grid-area: 2/1 / span 1 / span 4;
    text-align: center;
    text-transform: capitalize;
}
/* responsive */
@media only screen and (max-width:320px){
    .darkMode{
        width: 93% !important;
        font-size: 18px;
    }
    .container{
        display: flex;
        flex-direction: column;
        left: 0px;
    }
    .display{
        grid-area: 1/1 / span 1 / span 4 !important;
        width: 93%;
    }
    .teclado{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .teclado div{
        width: 51px;
        margin-top: 10px;
        background-color: #eee;
        border-radius: 10px;
        font-size: 20px;
    }
    .teclado div{
        padding: 0px !important;
        border: solid 1px #eeedef;
        text-align: center;
    }
    #igual{
        grid-area: 6/1 / span 1 / span 4 !important;
        width: 99%;
    }
    
    .teclado div:hover{
        opacity: 0.9;
        background-color: rgb(204, 199, 199);
        cursor: pointer;
    }
    .cuentas{
        text-align: center;
        border: solid 2px #eee;
        border-radius: 6px !important;
        padding: 10px;
        max-width: 90%;
        font-size: 16px;
    }
    footer{
        font-size: 15px !important;
    }
}

@media only screen and (max-width:680px){
    .container{
        display: flex;
        flex-direction: column;
        left: 0px;
    }
    .container .cuentas, .lista-tareas{
        position: relative;
        margin-top: 20px;
    }
    .darkMode{
        width: 95%;
        left: 0px;
    }
    .cuentas{
        width: 96% !important;
    }
    footer{
        font-size: 16px;
    }
}
@media only screen and (max-width:980px){
    .container{
        display: flex;
        flex-direction: column;
        left: 0px;
    }
    .container .cuentas, .lista-tareas{
        position: relative;
        margin-top: 20px;
    }
    #tareas{
        width: 100% !important;
        border: solid 2px red;
    }
    .darkMode{
        width: 97.6%;
        left: 0px;
    }
    .cuentas{
        width: 97.3% !important;
    }
    footer{
        font-size: 16px;
    }
}

/* responsive */